@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@100&display=swap');
@font-face {
    font-family: Varsity;
    src: url(fonts/varsity_regular.ttf) format(truetype);
}

h1 {
   font: normal normal 2em 'varsity' 
}

p  {
    font: normal bolder 2em 'Sofia Sans Extra Condensed', sans-serif;
}