h1 {
    border-style: solid;
    border-color: red;
    border-radius: 9px;
    width: 300px;
    height: 300px;
    padding: 0.75em;
    background-color: cyan;
}

a {
    border-style: solid;
    padding: 0.20em;
    text-decoration:none;

}
a:hover {
    color: black;
}
