body {
    background-color: cyan;
    text-align: justify;
    color: white;
    font-size: 15px;
    
    
}
h1,h2 {   
    color: blueviolet;
    background-color: rgb(251, 251, 118);

}

p {
    color: blue;
}
a {
    text-decoration:none;
}